body {
    background-color: #f9f9f9;
}

#parent {
    height: 1000px;
    background: url(../assets/model1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -180px;
    background-position-x: 100px;
}

#parent header {
    font-family: 'Mada', sans-serif;
    padding: 60px 0;
}

#parent header .logo h1 {
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 600;
}

#parent header nav {
    float: right;
}

#parent header nav ul li {
    float: left;
    list-style-type: none;
}

#parent header nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 15px;
    font-weight: 600;
    padding-left: 40px;
    color: #000;
}

#parent section {
    position: relative;
    top: 100px
}

#parent section .title {
    text-transform: capitalize;
}

#parent section .title h4 {
    font-family: 'Mada', sans-serif;
    font-size: 14px;
}

#parent section .title h1 {
    font-family: 'Lato', sans-serif;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 100px;
}

#parent section .content {
    font-family: 'Mada', sans-serif;
    overflow: hidden;
}

#parent section .content h5 {
    font-size: 13px;
    margin-bottom: 5px;
    color: #aaa
}

#parent section .content p {
    font-size: 14px;
    font-weight: 500;
}

#parent section .btn {
    margin-top: 40px;
    display: flex;
}

#parent section .btn a {
    font-size: 20px;
    text-decoration: none;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

#parent section .btn a:first-child {
    margin-right: 10px;
    color: #f44336;
    border: 1px solid #f44336;
}

#parent section .btn a:last-child {
    color: #4caf50;
    border: 1px solid #4caf50;
}

#parent section .btn a:first-child:hover {
    background-color: #f44336;
    color: #fff;
    border: 1px solid #f44336;
}

#parent section .btn a:last-child:hover {
    background-color: #4caf50;
    color: #fff;
    border: 1px solid #4caf50;
}