body {
    background-color: #f9f9f9;
}

#parent {
    height: 1000px;
    background: url(../assets/model1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -180px;
    background-position-x: 100px;
    position: relative;
}

#parent header {
    font-family: 'Mada', sans-serif;
    padding: 60px 0;
}

#parent header .logo h1 {
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 600;
}

#parent header nav {
    float: right;
}

#parent header nav ul li {
    float: left;
}

#parent header nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 15px;
    font-weight: 600;
    padding-left: 40px;
    color: #000;
}

#parent section {
    position: relative;
    top: 100px
}

#parent section .title {
    text-transform: capitalize;
}

#parent section .title h4 {
    font-family: 'Mada', sans-serif;
    font-size: 14px;
}

#parent section .title .glitch .display {
    position: relative;
}

#parent section .title h1 {
    font-family: 'Lato', sans-serif;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 100px;
}

#parent section .content {
    font-family: 'Mada', sans-serif;
    overflow: hidden;
}

#parent section .content h5 {
    font-size: 13px;
    margin-bottom: 5px;
    color: #aaa
}

#parent section .content p {
    font-size: 14px;
    font-weight: 500;
}

#parent section .btn {
    margin-top: 40px;
    display: flex;
}

#parent section .btn a {
    font-size: 20px;
    text-decoration: none;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

#parent section .btn a:first-child {
    margin-right: 10px;
    color: #f44336;
    border: 1px solid #f44336;
}

#parent section .btn a:last-child {
    color: #4caf50;
    border: 1px solid #4caf50;
}

#parent section .btn a:first-child:hover {
    background-color: #f44336;
    color: #fff;
    border: 1px solid #f44336;
}

#parent section .btn a:last-child:hover {
    background-color: #4caf50;
    color: #fff;
    border: 1px solid #4caf50;
}

#parent section aside {
    transform-origin: right;
    transform: rotate(90deg);
    position: relative;
    top: 600px;
}

#parent section aside li {
    display: inline-block;
    margin-right: 70px;
}

#parent section aside li a {
    text-decoration: none;
    font-family: 'Mada', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
}

#parent footer {
    height: 240px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#parent footer .left {
    background-color: #eee;
    height: inherit;
    width: 100%;
}

#parent footer .right {
    background-color: #273238;
    height: inherit;
    width: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#parent footer .left .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
}

#parent footer .left .content h1 {
    font-size: 35px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
}

#parent footer .left .content a {
    font-size: 35px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    color: #6b6b6b;
}

#parent footer .left .content a:hover {
    color: #000;
}

#parent footer .left .content h4 {
    font-size: 14px;
    font-family: 'Mada', sans-serif;
}

#parent footer .foo {
    position: relative;
    z-index: 3;
}

#parent footer .pic {
    position: relative;
    height: 290px;
    width: 100%;
    bottom: 50px;
    overflow: hidden;
}

#parent footer .foo.btn {
    display: flex;
    bottom: 50px;
}

#parent footer .foo.btn .swiper-button-next, .swiper-button-prev {
    position: static;
    top: 0;
    width: unset;
    height: 50px;
    margin-top: 0;
    background-image: none;
}

#parent footer .foo.btn .swiper-button-prev {
    position: static;
    top: 0;
    width: unset;
    height: 50px;
    margin-top: 0;
    background-image: none;
}

#parent footer .foo.btn button {
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: #273238;
    color: #fff;
    padding: 18px;
    transition: all 250ms ease-in-out;
}

#parent footer .foo.btn button:hover {
    background-color: #192125;
}

#parent footer .foo.text {
    padding-left: 20px;
    font-family: 'Mada', sans-serif;
    color: #fff;
}

#parent footer .foo.text h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 13px;
}

#parent footer .foo.text p {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
}